# Let's Start
An e-commerce company, Store 1, recently began collecting data about its customers. Store 1's ultimate goal is to better understand their customers' behavior and make data-driven decisions to improve their online experience.

As part of the analytics team, your first task is to assess the quality of a sample of collected data and prepare it for future analysis.

## Questionnaire
Store 1 aims to ensure consistency in data collection. As part of this initiative, the quality of data collected on users must be assessed. You have been asked to review the data collected and propose changes. Below you will see data about a particular user; review the data and identify any potential problems.

In [1]:
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

Options:

1. The data type for user_id should be changed from a string to an integer.

2. The user_name variable contains a string that has unnecessary spaces and an underscore between the first and last name.

3. The data type of user_age is incorrect.

4. The fav_categories list contains uppercase strings. We should convert the list values to lowercase instead.

#### Write your answer and explain your argument
2,3,4 I consider that these options can become problems in future analysis processes since they are with the wrong data type.

The problems that can arise in a Python code when using incorrect data types and having incorrectly formatted data are several and can affect the functionality, readability, and quality of the code. Incorrect data types can be problematic for the following reasons:

Runtime errors, when a specific data type is expected in an operation or function, using an incorrect type can lead to runtime errors.
Incompatibility with other parts of the code, incorrect data types can cause parts of the code to not work well together.
Reduced readability, using incorrect data types makes the code less readable and understandable, making collaboration and long-term maintenance difficult.

Improperly formatted data, such as unnecessary spaces and unwanted characters in strings, as well as strings in uppercase instead of lowercase, can also cause problems:

Errors in program logic, incorrectly formatted data can lead to errors in program logic. For example, if the first and last name in user_name were expected to be separated by a space and an underscore, any other formatting could lead to problems when trying to extract the first or last name.

Data inconsistencies, if the data is poorly formatted, it is more difficult to ensure consistency and data quality. This can lead to unexpected or incorrect results in the program.

Difficulties in searching and processing data, the fact that fav_categories contains uppercase strings can make it difficult to search and process data, as it is more difficult to compare them or perform case-sensitive searches.

# Exercise 1
Let's implement the changes we identified. First, we need to correct the problems with the user_name variable. As we saw, it has unnecessary spaces and an underscore as a separator between the first and last name; your goal is to remove the spaces and then replace the underscore with the space.

In [2]:
# Get rid of the unnecessary spaces 
user_name = user_name.strip()
user_name = user_name.replace('_', " ")

# Exercise 2
Next, we must split the updated user_name into two substrings to obtain a list containing two values: the string for the first name and the string for the last name.

In [3]:
name_split = user_name.split()
print(name_split)

['mike', 'reed']

# Exercise 3
Great! Now we have to work with the user_age variable. As we already mentioned, it has an incorrect data type. Let's fix this problem by transforming the data type and displaying the final result.

In [4]:
# Turn the user age to the right data type
user_age = int(user_age)
print(type(user_age))

<class 'int'>

# Exercise 4
As we know, data is not always perfect. We must consider scenarios where the value of user_age cannot be converted to an integer. To prevent our system from crashing, we must take action in advance.

Write code that attempts to convert the user_age variable to an integer and assigns the transformed value to user_age_int. If the attempt fails, we display a message asking the user to provide his or her age as a numerical value with the message: Please provide your age as a numerical value.

In [5]:
age = 'twenty two'

try: 
    user_age_int = int(age)
    print(user_age_int)
except: 
    print('Please provide your age as a numerical value')

Please provide your age as a numerical value

# Exercise 5
Finally, consider that all favorite categories are stored in uppercase. To fill a new list called fav_categories_low with the same categories, but in lowercase, iterate the values in the fav_categories list, modify them and add the new values to the fav_categories_low list. As always, display the final result.

In [6]:
fav_categories_low = []

for i in fav_categories:
    i = i.lower()
    fav_categories_low.append(i)

print(fav_categories_low)

['electronics', 'sport', 'books']

# Exercise 6
We have obtained additional information on the spending habits of our users, including the amount spent in each of their favorite categories. Management is interested in the following metrics:

Total amount spent by the user.
Minimum amount spent.
Maximum amount spent.
Let's calculate these values and display them on the screen:

In [7]:
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category)
print(f"Total amount spent: {total_amount:.2f}")

minimum_amount = min(spendings_per_category)
print(f"Minimum amount spent: {minimum_amount:.2f}")

maximum_amount = max(spendings_per_category)
print(f"Maximum amount spent: {maximum_amount:.2f}")

Total amount spent: 1280.00
Minimum amount spent: 173.00
Maximum amount spent: 894.00

# Exercise 7
The company wants to offer discounts to its loyal customers. Customers who make purchases totaling more than $1500 are considered loyal and will receive a discount.

Our goal is to create a while loop that checks the total amount spent and stops when it is reached. To simulate new purchases, the variable new_purchase generates a number between 30 and 80 at each iteration of the loop. This represents the amount of money spent on a new purchase and is what needs to be added to the total.

Once the target amount is reached and the while loop is completed, the final amount will be displayed.

In [8]:
import random as r 

total = 0
target_amount = 1500

while total < target_amount: 
    new_purchase = r.randint(30,80)
    total += new_purchase
    print(f"Purchase: ${new_purchase}, Total: ${total}")

Purchase: $37, Total: $37
Purchase: $68, Total: $105
Purchase: $33, Total: $138
Purchase: $48, Total: $186
Purchase: $53, Total: $239
Purchase: $70, Total: $309
Purchase: $34, Total: $343
Purchase: $80, Total: $423
Purchase: $42, Total: $465
Purchase: $66, Total: $531
Purchase: $56, Total: $587
Purchase: $56, Total: $643
Purchase: $33, Total: $676
Purchase: $40, Total: $716
Purchase: $57, Total: $773
Purchase: $70, Total: $843
Purchase: $34, Total: $877
Purchase: $65, Total: $942
Purchase: $76, Total: $1018
Purchase: $75, Total: $1093
Purchase: $74, Total: $1167
Purchase: $78, Total: $1245
Purchase: $63, Total: $1308
Purchase: $31, Total: $1339
Purchase: $72, Total: $1411
Purchase: $39, Total: $1450
Purchase: $78, Total: $1528

# Exercise 8
We now have all the information about a customer the way we want it to be. The management of a company asked us to propose a way to summarize all the information about a user. Your goal is to create a formatted string that uses information from the user_id, user_name and user_age variables.

This is the final string that we want to create: User 32415 is mike who is 32 years old.

In [9]:
user_info = f'User {user_id} is {name_split[0]} who is {user_age} years old'
print(user_info)

User 32415 is mike who is 32 years old

# Exercise 9
To calculate the company's revenue, follow these steps.

1. Use for to iterate over the users list.
2. Extract the expense list for each user and sum the values.
3. Update the revenue value with the total for each user.
4. This way you will get the total income of the company that you will show on the screen at the end.

In [10]:
users = [
	  # Start of the first sublist 
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
        [894, 213, 173]
    ], # End of the first sublist 

    # Start of the second sublist 
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'],
        [439, 390]
    ] # End of the second sublist 
]

revenue = 0 

for user in users:
    spending_list = user[4] # Get the spends values for each user 
    spend = sum(spending_list) # Sum the values 
    revenue += spend # Add the sum of the values to the total revenue

print(revenue)

2109

# Exercise 10 
Scroll through the list of users we have provided and display the names of the clientele under 30 years of age.

In [11]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

for user in users: 
    if user[2] < 30:
        print(user[1])

['kate', 'morgan']
['samantha', 'smith']
['emily', 'brown']
['jose', 'martinez']
['james', 'lee']

# Exercise 11
Let's put tasks 9 and 10 together and print the names of the users who are under 30 years old and have a total expenditure of more than $1,000.

In [12]:
for user in users: 
    if user[2] < 30 and sum(user[4]) > 1000:
        print(user[1])

['samantha', 'smith']
['james', 'lee']

# Exercise 12
Now we are going to show the name and age of all the users and all the users who have bought clothes. Print the name and age in the same print statement.

In [13]:
for user in users: 
    if 'clothes' in user[3]:
        print(f'The user is {user[1]} of {user[2]} of age')

The user is ['kate', 'morgan'] of 24 of age
The user is ['samantha', 'smith'] of 29 of age
The user is ['maria', 'garcia'] of 33 of age
The user is ['lisa', 'wilson'] of 35 of age
The user is ['james', 'lee'] of 28 of age